[user]
	name = {name}
	email = {email}
[color]
	ui = true
[core]
	pager = less -RFX
	excludesFile = ~/.gitignore
[credential]
	helper = osxkeychain
[diff]
	tool = vimdiff
[difftool "vimdiff"]
	cmd = /usr/bin/vimdiff $LOCAL $REMOTE
[merge]
	tool = vimdiff
[pull]
	rebase = false
[push]
	default = current
