# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = {name}
	email = {email}

[color]
	ui = true
[core]
	pager = less -Xr
[credential]
	helper = osxkeychain
[diff]
	tool = vimdiff
[difftool "vimdiff"]
	cmd = /usr/bin/vimdiff $LOCAL $REMOTE
[merge]
	tool = vimdiff
[pull]
	rebase = false
[push]
	default = current
